USE [Banking_Management]
GO
/****** Object:  StoredProcedure [dbo].[Tan_UPD]    Script Date: 11/08/2025 20:20:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE Tan_UPD
    @RIB_From CHAR(24),  -- Account making the transaction
    @Tran_Type CHAR(1),         -- 'D', 'W', 'T'
    @Amount DECIMAL(18, 2),
    @RIB_To CHAR(24) = NULL     -- Only used for Transfers
AS
BEGIN
  SET NOCOUNT ON;

  BEGIN TRY
      BEGIN TRANSACTION;

            IF (SELECT Expiration_date FROM Credit_Card Where RIB= @RIB_From) < GETDATE()
        throw 5000,'credit card is already expired! Renew it to have the ability to do a transfer',1;

      IF @Tran_Type = 'D'
      BEGIN
      UPDATE BNK_Acc
      SET Balance = Balance + @Amount
      WHERE RIB =@RIB_From;
      END

      ELSE IF @Tran_Type = 'W'
      BEGIN 
         UPDATE BNK_Acc
         SET Balance = Balance - @Amount
         WHERE RIB = @RIB_From;

         --REquired
         IF (SELECT Balance FROM BNK_Acc WHERE RIB = @RIB_From) <= 0
            THROW 5001,'Insufficient funds for Withdrawwal',1;
      END


      IF @Tran_Type = 'T'
      BEGIN
         IF @RIB_To IS NULL 
            THROW 5002,'Target Account RIB is required for transfer',1;
         ELSE 
         -- Deduct from sender
         UPDATE BNK_Acc
         SET Balance = Balance - @Amount
         WHERE RIB = @RIB_From;

          --REquired
         IF (SELECT Balance FROM BNK_Acc WHERE RIB = @RIB_From) <= 0
            THROW 5001,'Insufficient funds for Withdrawwal',1;

         --Add to reciever
         UPDATE BNK_Acc
         SET Balance = Balance + @Amount
         WHERE RIB = @RIB_To;

          --REquired
          IF @@ROWCOUNT = 0
          THROW 50004, 'Receiver account not found.', 1;
      END

      IF @Tran_Type = 'T'
      BEGIN
        INSERT INTO Transactions (RIB,RIB_TO ,Tran_Type, Amount, Tran_Date)
         VALUES (@RIB_From, @RIB_To ,'D', @Amount, GETDATE()); -- record the incoming money
      END
      ELSE
      BEGIN
        -- Record the transaction in Transactions table
        INSERT INTO Transactions (RIB, RIB_TO, Tran_Type, Amount, Tran_Date)
        VALUES (@RIB_From, null ,@Tran_Type, @Amount, GETDATE());
      END

      COMMIT TRANSACTION;
      END TRY

     BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH

END;